version: 1.0.{build}
image: Visual Studio 2017
configuration: Release
cache: packages -> **\packages.config
before_build:
- cmd: nuget restore src/MassTransit.RedisSagas.sln
build_script:
- cmd: build.bat
test:
  assemblies:
    only:
    - '**\*RedisSagas.Tests.dll'
artifacts:
- path: 'build_artifacts\*.nupkg'
deploy:
- provider: NuGet
  api_key:
    secure: SMGJALohgGcrJt9wAoRAzL9hfgLpulP7+vw0xY+TlFjEkScJbTfB0Ff9Y0FARDNL
  skip_symbols: false
  on:
    branch: master